@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

.game__container{
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color:cornflowerblue;
}
.game__content{
  display: flex;
  flex-direction: column;
  margin: auto auto;
  width: 65%;
  height: 80%;
  background-color: aliceblue;
}
.game__main{
  width: 60%;
  height: 100%;
  margin: auto auto;
  background-color: black;
}
.game__buttons{
width: 150px;
}
.choice__one{

}