/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 1366px;
  height: 750px;
  overflow: hidden;
}
.home[data-v-3e3d82] {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home h1[data-v-3e3d82] {
  font-size: 200px;
  font-family: sans-serif;
}
.home .button[data-v-3e3d82] {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  background-color: #2196f3;
  border-radius: 5px;
  text-decoration: none;
}
span[data-v-3e3d82] {
  text-decoration: none;
  font-size: 16px;
  color: white;
}
.button__text[data-v-ce5a54] {
  margin: auto auto;
  color: white;
  font-family: sans-serif;
  padding: 1%;
  font-size: 15px;
}
.famousButtons[data-v-10385d] {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 40px 0 40px;
}
.famousButton[data-v-10385d] {
  display: flex;
  border-radius: 7px;
  width: 100px;
  height: 40px;
  align-items: center;
  margin-left: 0 auto;
  margin-bottom: 30px;
  background-color: #2196f3;
}
.famousButton[data-v-10385d]:hover {
  background-color: white;
}
.famousButton:hover .famousButton > p[data-v-10385d] {
  color: #000;
}
.game__text--content[data-v-3c0838] {
  display: flex;
  flex-direction: column;
}
.game__text--content > p[data-v-3c0838] {
  width: 80%;
  height: 30%;
  margin: 0 auto;
  margin-top: 30px;
  font-family: sans-serif;
  text-align: center;
}
.food__els[data-v-7ea795] {
  width: 50px;
  height: 50px;
  background-image: url(/coconut.edd019fc.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 15px;
  margin-right: 25px;
}
.foods__wrapper[data-v-830f4b]{
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-bottom: 10px;
}
h3[data-v-830f4b]{
  margin-left: 10px;
  margin-top: 8px;
  font-size:17px;
  font-family: sans-serif;
  color: white
}
.water__els[data-v-42ed6d] {
  width: 50px;
  height: 50px;
  background-image: url(/water.f0f564a7.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 11px;
  margin-right: 25px;
}
.foods__wrapper[data-v-a2afd5]{
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-bottom: 10px;
}
h3[data-v-a2afd5]{
  margin-left: 10px;
  margin-top: 8px;
  font-size:17px;
  font-family: sans-serif;
  color: white
}
.size[data-v-2a9485] {
  width: 100px;
  height: 100px;
}
.ressources[data-v-2a9485] {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}
.template[data-v-2a9485] {
  width: 100%;
}
.ressources__title[data-v-2a9485] {
  float: left;
  font-size: 20px;
  margin: 60px 0 30px 15px;
}
.ressources__directions[data-v-2a9485] {
  height: 90px;
}
.ressources__directions .ressources__directions--next[data-v-2a9485] {
  float: right;
  margin-top: 60px;
  margin-right: 20px;
}
.ressources__directions .ressources__directions--prev[data-v-2a9485] {
  float: left;
  bottom: 0;
  margin-top: 60px;
  margin-left: 20px;
}
.ressources__food[data-v-2a9485] {
  height: 120px;
  background-color: grey;
}
.ressources__water[data-v-2a9485] {
  height: 100px;
  background-color: blue;
}
.ressources__buttons[data-v-2a9485] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 0 auto;
}
.ressources__buttons--food[data-v-2a9485] {
  margin-right: 30px;
}
.ressources__buttons > *[data-v-2a9485] {
  transform: scale(1.5);
}
.game__container[data-v-aa7634] {
  width: 100vw;
  height: 100vh;
  background-image: url("/plage.93f5a7ef.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: auto auto;
}
.game__main[data-v-aa7634] {
  display: flex;
  width: 50%;
  height: 85%;
  margin: auto auto;
  background-color: white;
  opacity: 0.9;
}
.game__buttons[data-v-aa7634] {
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin: 0 auto;
}
.day[data-v-aa7634] {
  position: absolute;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
}
body[data-v-97dbde] {
  background-color: green;
}
h1[data-v-97dbde] {
  color: white;
  font-size: 100px;
}
body[data-v-f94dda] {
  background-color: red;
}
h1[data-v-f94dda] {
  color: white;
  font-size: 100px;
}
.craft__box[data-v-d4eeea] {
  margin-top: 90px;
}
.craft__questions[data-v-d4eeea] {
  margin-left: 40px;
  margin-top: 10px;
}
.craft__explications[data-v-d4eeea] {
  margin-left: 10px;
  padding: 2%;
  margin-top: 10px;
}
h3[data-v-d4eeea] {
  margin-left: 10px;
}
.element[data-v-d4eeea] {
  width: 80px;
  height: 80px;
  background-color: red;
  border-radius: 1000px;
}
.craft__wrapper[data-v-d4eeea] {
  width: 60%;
  margin: 0 auto;
  transform: translateX(55px) translateY(60px);
}
.craft__wrapper > *[data-v-d4eeea] {
  display: inline-block;
  vertical-align: middle;
}
.craft__directions[data-v-d4eeea] {
  transform: translateY(245px);
}
.craft__directions .craft__directions--next[data-v-d4eeea] {
  float: right;
  margin-right: 20px;
}
.craft__directions .craft__directions--prev[data-v-d4eeea] {
  float: left;
  margin-left: 20px;
}

.event[data-v-adff21] {
  width: 100%;
  height: 100%;
}
.event__els[data-v-adff21] {
  display: flex;
  justify-content: center;
  width: 40%;
}
.event__picture[data-v-adff21] {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-image: url(/event.79688a3d.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 25px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
.event__title[data-v-adff21] {
  display: flex;
  justify-content: center;
  width: max-content;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.expeditions[data-v-0c14f3] {
  width: 100%;
  transform: translateY(-40px);
}
.expeditions .one[data-v-0c14f3] {
  transform: translateX(120px);
}
.expeditions .two[data-v-0c14f3] {
  transform: translateX(-120px) translateY(-108px);
}
.event__question[data-v-0c14f3] {
  margin-left: 40px;
  margin-top: 10px;
}
.event__explications[data-v-0c14f3] {
  margin-left: 10px;
  padding: 2%;
  margin-top: 10px;
}
.event__box[data-v-0c14f3] {
  margin-top: 90px;
  font-family: sans-serif;
}
h3[data-v-0c14f3] {
  margin-left: 10px;
}
.event__directions[data-v-0c14f3] {
  transform: translateY(-100px);
}
.event__directions .event__directions--next[data-v-0c14f3] {
  float: right;
  margin-right: 20px;
}
.event__directions .event__directions--prev[data-v-0c14f3] {
  float: left;
  margin-left: 20px;
}
.game__container[data-v-ee52a4] {
  font-family: sans-serif;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url("/plage.93f5a7ef.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.game__main[data-v-ee52a4] {
  display: flex;
  width: 50%;
  height: 85%;
  background-color: white;
  opacity: 0.9;
}
.game__buttons[data-v-ee52a4] {
  width: max-content;
  display: flex;
  align-items: flex-end;
}
.day[data-v-ee52a4] {
  width: 683px;
  position: absolute;
  display: inline;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

/*# sourceMappingURL=/app.c328ef1a.css.map */